@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* body {
    margin: 0;
    font-family: "playfair display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */


.roboto{
  font-family: "Roboto", sans-serif;

  font-style: normal;
}
.playfair{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}
